#mainContent {
 width: 70%;
   padding-top: 2px;
}
#mainsidebar {
 float: right;
    width: 29%;
}
*{
    margin: 0px;
    padding: 0px;
    font-style: italic; 
     margin-top:5px;
    border-radius: 5px;
   }

#mainfooter {
    background-color: #293a56;
    margin-top: 30px;
    color: aliceblue;

}


a{text-decoration: none;
    color:#ff5252 ;
}
a:hover{text-shadow: 2px 2px black;}
a:link, a:vistied{color:#ff5252;}
a:hover,a:active{color: #202441 ;}
nav {
   background-color: #ff5252; 
    text-align: center;
   
}
nav ul li a:hover, active{ background-color: #ff793f;
}
nav ul li a{
    color: white;
}

li {
    display: inline-block;
}
li a{padding: 10px 20px;
    display: inline-block;
}
   
ul li a:hover{color: black; 
text-shadow: 1px 1px black;}
    



body {
    width: 97%;
    margin-left: 20px;
    text-align: center;
     background-color: snow;
        
    }


#section2 {
     background-color:white;
}

#section1 {
     background-color:white;
}

#sidebar1 {
    background-color: white;
}

#sidebar2 {
      background-color: white;
}

footer {color: grey
    
}

figure {
    width: 90%;
    text-align: center;
}

figcaption {
    text-align: right;
    background-color:#ecf0f1;
    font-size: 80%;
}

#section3 {
    background-color: white;
}

#sidebar3 {
    background-color: white;
}

bdi {
    background-color:yellow;
}

h2 {background-color: #2c3e50
    
}

/*------------editing for mobile-----------------*/
<@media screen and(max-width:480){


body {
    width: 100%;  
    }
      

figcaption {
    font-size: 90%;

}
audio {
    width: 10px;
}